@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-background-1 {
  background-color: #eaebed;
}

.custom-background-2 {
  background-color: #006989;
}

.custom-bg-3 {
}
